body{
	height: 100%
}

#buttons {
    position: absolute;
    top: 50%;
}
.jumbotron{
	height: 10%;
	text-align: center;
	margin-top: -50px;
}
.from{
	height: 5%;
	text-align: center;
}
.col-md-12{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #e6ffff;
	padding-left: 100px;
	

}

